<!DOCTYPE html>
<html style="height: 100%; background: #FFFFFF; max-width: 100%; max-height: 100%; margin:0">

<head>
  <meta charset="UTF-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/blueprint-icons.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/blueprint.css" />
</head>

<body style="height: 100%; background: #FFFFFF; max-width: 100%; max-height: 100%; margin:0">
  <div id="app" style="height: 100%; background: #FFFFFF; max-width: 100%; max-height: 100%; margin:0;">
    <table style="height: 100%; width: 100%;">
      <tbody>
        <tr>
          <td style="vertical-align: middle;" text-align="center">
            <div style="text-align: center; font-size: 140%;">
              <span
                style="background-color: #FFFFFF; border: 3px solid #666666; padding: 6px; border-radius: 5px; -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.4); -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.4); -o-box-shadow: 5px 5px 10px rgba(0,0,0,0.4); -ms-box-shadow: 5px 5px 10px rgba(0,0,0,0.4);">
                <i class="fas fa-spinner fa-pulse" aria-hidden="true"></i>
                <span style="margin-right: 4px"></span>
                <%= htmlWebpackPlugin.options.loadingLabel %>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <script type="text/javascript" src="/bundle/runtime.bundle.js"></script>
  <script type="text/javascript" src="/bundle/vendors.bundle.js"></script>
  <script type="text/javascript" src="/bundle/app.bundle.js"></script>
</body>

</html>
